# IDE
.vscode
.idea
*.iml
time-travel.*

# Rust
target/
Cargo.lock
Untitled.ipynb
.ipynb_checkpoints/


# Node
node_modules/
cache/
package-lock.json
*.wasm
dist/
pkg/
lib/

# Coverage
lcov.info
coverage/
*.profraw
htmlcov/

# Antlr
.antlr/
*.jar


*.txt
*.log

# Binary
*.exe
*.wasm
*.wasi