Control {
    kind: Continue,
    span: 0..8,
}
Control {
    kind: Continue,
    expression: label,
    span: 11..25,
}
Control {
    kind: Break,
    span: 28..33,
}
Control {
    kind: Break,
    expression: label,
    span: 36..47,
}
Control {
    kind: Fallthrough,
    span: 50..61,
}
Control {
    kind: Fallthrough,
    expression: label,
    span: 64..81,
}
Control {
    kind: Return,
    span: 84..90,
}
Control {
    kind: Return,
    expression: expression,
    span: 93..110,
}
Control {
    kind: Raise,
    span: 113..118,
}
Control {
    kind: Raise,
    expression: expression,
    span: 121..137,
}
Control {
    kind: YieldReturn,
    span: 140..145,
}
Control {
    kind: YieldReturn,
    expression: expression,
    span: 148..164,
}
Control {
    kind: YieldReturn,
    expression: expression,
    span: 167..190,
}
Control {
    kind: YieldBreak,
    span: 193..204,
}
Control {
    kind: YieldBreak,
    expression: label,
    span: 207..224,
}
Control {
    kind: YieldFrom,
    span: 227..237,
}
Control {
    kind: YieldFrom,
    expression: expression,
    span: 240..261,
}
