NamespaceDeclaration {
    kind: Standalone,
    path: std∷create∷test,
}
NullNode {
    nil: true,
    span: 30..33,
}
NullNode {
    nil: true,
    span: 36..39,
}
nil
null
true
false
a
a∷b
a∷b∷c
我
我∷的
我∷的∷库
