UnaryNode {
    prefix: -,
    base: UnaryNode {
        prefix: -,
        base: ascii,
    },
}
form
GenericCallNode {
    monadic: false,
    base: Object,
    term: [],
    span: 21..25,
}
GenericCallNode {
    monadic: false,
    base: Object,
    term: [
        ArgumentTerm {
            key: Nothing,
            value: T,
        },
    ],
    span: 34..40,
}
GenericCallNode {
    monadic: false,
    base: Object,
    term: [
        ArgumentTerm {
            key: Nothing,
            value: T,
        },
        ArgumentTerm {
            key: Nothing,
            value: U,
        },
    ],
    span: 49..56,
}
UnaryNode {
    prefix: -,
    base: UnaryNode {
        prefix: -,
        base: unicode,
    },
}
form
GenericCallNode {
    monadic: false,
    base: Object,
    term: [],
    span: 84..90,
}
GenericCallNode {
    monadic: false,
    base: Object,
    term: [
        ArgumentTerm {
            key: Nothing,
            value: T,
        },
    ],
    span: 99..106,
}
GenericCallNode {
    monadic: false,
    base: Object,
    term: [
        ArgumentTerm {
            key: Nothing,
            value: T,
        },
        ArgumentTerm {
            key: Nothing,
            value: U,
        },
    ],
    span: 115..124,
}
Tuple {
    terms: [
        ArgumentTerm {
            key: Nothing,
            value: 1,
        },
        ArgumentTerm {
            key: Nothing,
            value: 2,
        },
    ],
}
