ConstructNewNode {
    annotations: Empty,
    namepath: A,
    generics: [],
    arguments: [],
    body: [],
    span: 0..6,
}
ConstructNewNode {
    annotations: Empty,
    namepath: B,
    generics: [],
    arguments: [],
    body: [],
    span: 10..18,
}
ConstructNewNode {
    annotations: Empty,
    namepath: C,
    generics: [],
    arguments: [],
    body: [],
    span: 22..35,
}
ConstructNewNode {
    annotations: Empty,
    namepath: D,
    generics: [
        [],
    ],
    arguments: [],
    body: [],
    span: 39..49,
}
ConstructNewNode {
    annotations: Empty,
    namepath: E,
    generics: [
        [],
    ],
    arguments: [],
    body: [],
    span: 53..67,
}
ConstructNewNode {
    annotations: Annotation {
        modifiers: [
            stack,
        ],
    },
    namepath: List,
    generics: [],
    arguments: [],
    body: [
        'term',
    ],
    span: 71..107,
}
ConstructNewNode {
    annotations: Empty,
    namepath: Integer,
    generics: [
        [
            ArgumentTerm {
                key: Nothing,
                value: A,
            },
        ],
    ],
    arguments: [],
    body: [],
    span: 107..136,
}
ConstructNewNode {
    annotations: Annotation {
        modifiers: [
            stack,
        ],
    },
    namepath: List,
    generics: [
        [
            ArgumentTerm {
                key: Nothing,
                value: A,
            },
        ],
    ],
    arguments: [],
    body: [],
    span: 136..169,
}
ConstructNewNode {
    annotations: Annotation {
        modifiers: [
            stack,
        ],
    },
    namepath: List,
    generics: [],
    arguments: [
        ArgumentTerm {
            key: Nothing,
            value: 10,
        },
    ],
    body: [
        0,
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
    ],
    span: 169..231,
}
ConstructNewNode {
    annotations: Annotation {
        modifiers: [
            stack,
        ],
    },
    namepath: List,
    generics: [
        [
            ArgumentTerm {
                key: Identifier("T", 248..249),
                value: Integer,
            },
        ],
    ],
    arguments: [
        ArgumentTerm {
            key: Identifier("capacity", 260..268),
            value: 10,
        },
    ],
    body: [
        0,
        1,
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
    ],
    span: 231..317,
}
ConstructNewNode {
    annotations: Annotation {
        modifiers: [
            stack,
        ],
    },
    namepath: Object,
    generics: [],
    arguments: [],
    body: [
        item1,
        item2,
        Tuple {
            terms: [
                ArgumentTerm {
                    key: Nothing,
                    value: tuple1,
                },
            ],
        },
        Tuple {
            terms: [
                ArgumentTerm {
                    key: Nothing,
                    value: key,
                },
                ArgumentTerm {
                    key: Nothing,
                    value: value,
                },
            ],
        },
        value,
    ],
    span: 317..418,
}
ConstructNewNode {
    annotations: Annotation {
        modifiers: [
            keywords,
        ],
    },
    namepath: BaseballTeam,
    generics: [
        [
            ArgumentTerm {
                key: Nothing,
                value: T,
            },
        ],
    ],
    arguments: [
        ArgumentTerm {
            key: Nothing,
            value: args,
        },
    ],
    body: [
        'object one',
        Math∷PI,
        'Mookie Betts',
        'Mike Trout',
        key,
        Tuple {
            terms: [
                ArgumentTerm {
                    key: Nothing,
                    value: key,
                },
            ],
        },
        Tuple {
            terms: [
                ArgumentTerm {
                    key: Nothing,
                    value: key,
                },
                ArgumentTerm {
                    key: Nothing,
                    value: value,
                },
            ],
        },
        Tuple {
            terms: [
                ArgumentTerm {
                    key: Nothing,
                    value: key,
                },
                ArgumentTerm {
                    key: Nothing,
                    value: value1,
                },
                ArgumentTerm {
                    key: Nothing,
                    value: value2,
                },
            ],
        },
        ConstructNewNode {
            annotations: Empty,
            namepath: IndexersExample,
            generics: [],
            arguments: [],
            body: [
                '1',
                '4',
                '9',
                'Middle C',
                '440 Hz',
                'F above middle C',
                'C above A above C above middle C',
            ],
            span: 637..881,
        },
        'Jose Altuve',
    ],
    span: 418..912,
}
